@import '../../../styles/components/card';
@import '../../../styles/base/settings';

@import '../../../styles/components/card';
@import '../../../styles/base/settings';

$bg-title-image: 'https://wallpaperaccess.com/full/193208.jpg';

:root {
  --font-sans: 'Rubik', sans-serif;
}

.comic-page-title-div {
  color: white;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px;

  background: -moz-linear-gradient(
      top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 59%,
      rgba(0, 0, 0, 0.65) 100%
    ),
    url($bg-title-image) no-repeat;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0%, rgba(0, 0, 0, 0)),
      color-stop(59%, rgba(0, 0, 0, 0)),
      color-stop(100%, rgba(0, 0, 0, 0.65))
    ),
    url($bg-title-image) no-repeat;
  background: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 59%,
      rgba(0, 0, 0, 0.65) 100%
    ),
    url($bg-title-image) no-repeat;
  background: -o-linear-gradient(
      top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 59%,
      rgba(0, 0, 0, 0.65) 100%
    ),
    url($bg-title-image) no-repeat;
  background: -ms-linear-gradient(
      top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 59%,
      rgba(0, 0, 0, 0.65) 100%
    ),
    url($bg-title-image) no-repeat;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 59%,
      rgba(0, 0, 0, 0.65) 100%
    ),
    url($bg-title-image) no-repeat;

  background-position: center;
}
