@import '../../../styles/components/card';
@import '../../../styles/base/settings';

$bg-title-image: 'https://arc-anglerfish-arc2-prod-tbt.s3.amazonaws.com/public/HM2EV3GEOII6TKTRIBWI6S7HAY.jpg';

:root {
  --font-sans: 'Rubik', sans-serif;
}

.bookmarks-title-div {
  color: white;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px;

  background: -moz-linear-gradient(
      top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 59%,
      rgba(0, 0, 0, 0.65) 100%
    ),
    url($bg-title-image) no-repeat;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0%, rgba(0, 0, 0, 0)),
      color-stop(59%, rgba(0, 0, 0, 0)),
      color-stop(100%, rgba(0, 0, 0, 0.65))
    ),
    url($bg-title-image) no-repeat;
  background: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 59%,
      rgba(0, 0, 0, 0.65) 100%
    ),
    url($bg-title-image) no-repeat;
  background: -o-linear-gradient(
      top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 59%,
      rgba(0, 0, 0, 0.65) 100%
    ),
    url($bg-title-image) no-repeat;
  background: -ms-linear-gradient(
      top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 59%,
      rgba(0, 0, 0, 0.65) 100%
    ),
    url($bg-title-image) no-repeat;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 59%,
      rgba(0, 0, 0, 0.65) 100%
    ),
    url($bg-title-image) no-repeat;

  background-position: center;
  background-size: cover;
}

.cards {
  display: grid;
  place-items: center;
}

.cards-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);

  @media (min-width: $bp-md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $bp-lg) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.error-message {
  text-align: center;
  margin: 50px 15%;
}

@media only screen and (max-width: 600px) {
  .bookmarks-title-div {
    h1 {
      font-size: 25px;
    }
  }
}
